/* Global */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

a:link, a:visited, a:active, a:hover {
    cursor: pointer;    
    text-decoration: none;
    color: inherit;
}

/* Anchors for IDs */

#about-me, #projects, #education, #contact-us {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}

/* Navagation Bar  */
.navagation-container {
    background-color: #161B22;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 2px solid black;
}

.navagation-container a:link, .navagation-container a:visited, .navagation-container a:active {
    padding: 10px;
    color: white;
}

.navagation-container a:hover {
    border-radius: 10px;
    background-color: gray;
}

.navigation-left {
    display: flex;
    margin-left: 8px;
    white-space: nowrap;
}

.navigation-right {
    display: flex;
    justify-content: center;
    margin: auto 0 auto auto;
    white-space: nowrap;
    overflow: hidden;
}

.navigation-option > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    height: 58px;
}

.option-icon {
    width: auto;
    height: 24px;
    margin: 0 5px;
}

.icon-invert {
    filter: invert(100%) !important;
}

/* Header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);

    color: white;
    margin: 0;
    padding: 70px 0 0 0;
    height: 75vh;
    width: 100%;

}

#calendar-date {
    display: block;
    font-size: 60px;
    font-family: Orbitron, sans-serif;
    text-align: center;
    width: auto;
    height: 25%;
    overflow: hidden;
}

#clock {
    font-size: 36px;
    font-family: Orbitron, sans-serif;
    width: auto;
    height: 25%;
    position: relative;
}

/* Content Container */
.content-container {
    display: flex;
    max-width: 1400px;
    min-height: 1000px;
    margin: 50px auto;
}

/* Main container  */
.main-container {
    display: block;
    max-width: 1000px;
}

/* Side container */
.side-container {
    display: block;
    width: 400px;
    margin: 0 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    height: fit-content;
}

.side-container .card-title {
    text-align: center;
}

#avatar > * {
    text-align: center;
    margin: 0;
}

#avatar > img {
    border-radius: 999px;
    display: block;
    margin: 0 auto;
    width: 50;
}

.avatar-option > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

/* Card */

.card {
    display: flex;
    margin: 20px 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s linear;
}

.card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.card-button-container {
    display: flex;
}

.card-title {
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
}

.card-button {
    background-color: lightskyblue;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
}

.card-button:hover {
    opacity: 0.9;
}

.card-content {
    display: block;
    margin: auto 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-content > * {
    margin: 20px 0;
}

.card-content > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-image {
    max-width: 45%;
    max-height: 100%;
    object-fit: cover;
}

/* Projects */

/* Education */

#education-container img {
    max-width: 50%;
    max-height: 100%;
    margin: 0 0 0 auto;
    object-fit: cover;
}

/* Footer */

footer {
    color: white;
    display: block;
    background-color: #161B22;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 25vh;
}

footer > * {
    margin: 20px;
}

.footer-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-option > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    height: 58px;
}

.footer-option > a:hover {
    border-radius: 10px;
    background-color: gray;
}

/* Typewriter effect */

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1rem;
    animation: 
      typing 10s steps(80, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }